@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color:#56a7de;

}

.container {
  max-width: 500px;
  margin: 30px auto; /*30px */
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}


.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 8px;
  padding-bottom: 0px;
  padding-top: 4px;
  cursor: pointer;
}

.clear {
  background: white;
  width: 100%;

  padding: 10px 20px;
  cursor: pointer;
}

.clearall {
  background:  #8f48eb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  float: right;
}
.label {
  text-align: left;
  float: left;
  margin-left: 8px;
  padding:13px;
  padding-left: 0px;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: lighter;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 87%;
  height: 40px;
  padding: 3px 7px;
  font-size: 17px;
  margin-left: 5px;
  margin-right: 6px;

}
.plusButton{
  color: 'red';
   cursor: 'pointer' 
}

.delete {
  background-color:#e84b3f;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
}
.addTodo {
  background-color:#8f48eb;
  border: none;
  color: white;
  padding: 10px 10px 7px 10px;
  font-size: 20px;
  cursor: pointer;
}
.inputwidth input{
  height:40px;
  font-size: 100%;
  text-align: left;
}